:root {
  --primary-color: rgb(44, 52, 63);
  --secondary-color: #5cd3ad;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  color: #fff;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

#header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 25%;
}

.container {
  padding: 1rem 10%;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo {
  width: 14rem;
  font-size: xx-large;
}

.logo span {
  color: var(--secondary-color);
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 1rem 2rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  position: relative;
  cursor: pointer;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 0.3rem;
  background-color: var(--secondary-color);
  position: absolute;
  left: 0;
  bottom: -0.6rem;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.header-text {
  justify-self: center;
  align-self: center;
  font-size: 3rem;
}

.header-text h1 {
  font-size: 6rem;
  margin-top: 2rem;
}

.header-text h1 span {
  color: var(--secondary-color);
}

/* ABOUT */

#about {
  width: 100%;
  background-color: var(--primary-color);
  padding: 8rem 0;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
}

.about-col-1 img {
  width: 100%;
}

.about-col-2 {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-col-2 p {
  padding-right: 10rem;
  line-height: 1.6;
}

.sub-title {
  font-size: 6rem;
  font-weight: 600;
  color: #fff;
}

.about-col-2 p {
  margin-top: 4rem;
  font-size: medium;
}

.resume--button {
  margin-top: 6rem;
  align-self: flex-start;
}

.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: var(--secondary-color);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/* Tools */

#tools {
  width: 100%;
  background-color: var(--primary-color);
  padding: 3rem 0;
}

.tools-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem;
  margin-top: 5rem;
}

.tools-list h2 {
  color: var(--secondary-color);
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.tools-list div {
  background: #495057;
  padding: 4rem;
  font-size: 1.3rem;
  font-weight: 300;
  border-radius: 1rem;
  transition: background 0.5s, transform 0.5s;
}

.tools-list div:hover {
  background-color: #868e96;
  transform: translateY(-1rem);
}

.tools-list ion-icon {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.tools-list ul {
  list-style: none;
  font-size: medium;
}

.tools-list li {
  margin-bottom: 0.9rem;
}

.tools-list li:last-child {
  margin-bottom: 0;
}

ion-icon {
  color: var(--secondary-color);
}

/* Projects */

#projects {
  width: 100%;
  background-color: var(--primary-color);
  padding: 5rem 0;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 4rem;
  margin-top: 5rem;
}

.project {
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.project img {
  width: 100%;
  border-radius: 1rem;
  display: block;
  transition: transform 0.5s;
  height: 40rem;
}

.project-techstack {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project-tech {
  background-color: #495057;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.layer {
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(44, 52, 63, 0.6), var(--secondary-color));
  border-radius: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 4rem;
  text-align: center;
  font-size: 1.4rem;
  transition: height 0.5s;
}

.layer a {
  cursor: pointer;
  margin-top: 2rem;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 6rem;
  background-color: white;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  text-align: center;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 2rem;
}

.layer ion-icon {
  cursor: pointer;
}

.project-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.layer p {
  margin-bottom: 2rem;
}

.project:hover img {
  transform: scale(1.1);
}

.project:hover .layer {
  height: 100%;
}

/* Contact */

#contact {
  width: 100%;
  background-color: var(--primary-color);
}

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 3rem;
}

.contact-left p ion-icon {
  color: #ababab;
  margin-right: 1.5rem;
  font-size: 2.5rem;
}

.social-icons {
  margin-top: 3rem;
}

.social-icons a {
  text-decoration: none;
  font-size: 3rem;
  margin-right: 1.5rem;
  display: inline-block;
  transition: transform 0.5s;
  cursor: pointer;
}

.social-icons a:hover {
  transform: translateY(-5px);
}

/* .btn.btn2 {
  display: inline-block;
  background: var(--secondary-color);
} */

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background-color: #495057;
  padding: 1.5rem;
  margin: 1.5rem 0;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 0.6rem;
}

form .btn2 {
  padding: 1.4rem 6rem;
  font-size: 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 2.5rem 0;
  font-weight: 300;
  margin-top: 2rem;
}
