:root {
  --primary-color: rgb(44, 52, 63);
  --secondary-color: rgb(92, 211, 173);
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background: var(--primary-color);
  color: #fff;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

#canvas {
  z-index: -1;
  position: fixed;
  background-color: #2c343f;
  width: 100%;
  height: 100%;
}

#header {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 25%;
}

.container {
  padding: 1rem 10%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 9rem;
  position: relative;
  width: 100%;
  z-index: 10;
}

.nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(44, 52, 63, 0.9);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  padding: 0 2rem;
}

.three {
  width: 23.8%;
}

.col {
  display: none;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-of-type {
  margin-left: 0;
}

.hamburger .line {
  width: 50px;
  height: 5px;
  background-color: #ecf0f1;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.hamburger:hover {
  cursor: pointer;
}

#hamburger-6.is-active {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transition-delay: 0.6s;
  -o-transition-delay: 0.6s;
  transition-delay: 0.6s;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#hamburger-6.is-active .line:nth-child(2) {
  width: 0px;
}

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3) {
  -webkit-transition-delay: 0.3s;
  -o-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

#hamburger-6.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px);
  -ms-transform: translateY(13px);
  -o-transform: translateY(13px);
  transform: translateY(13px);
}

#hamburger-6.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(90deg);
  -ms-transform: translateY(-13px) rotate(90deg);
  -o-transform: translateY(-13px) rotate(90deg);
  transform: translateY(-13px) rotate(90deg);
}

.logo {
  width: 14rem;
  font-size: xx-large;
}

.logo span {
  color: var(--secondary-color);
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 1rem 2rem;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 1.8rem;
  position: relative;
  cursor: pointer;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 0.3rem;
  background-color: var(--secondary-color);
  position: absolute;
  left: 0;
  bottom: -0.6rem;
  transition: 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.mobile-nav {
  display: none;
  z-index: 10;
}

.mobile-nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(44, 52, 63, 0.9);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  padding: 1.5rem 2rem;
}

.header-text {
  justify-self: center;
  align-self: center;
  font-size: 3rem;
}

.header-text h1 {
  font-size: 6rem;
  margin-top: 2rem;
}

.header-text h1 span {
  color: var(--secondary-color);
}

/* ABOUT */

#about {
  width: 100vw;
  background-color: var(--primary-color);
  padding: 12rem 0;
  padding-bottom: 5rem;
  color: #ababab;
}

.row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-col-1 {
  flex-basis: 35%;
  padding-top: 8rem;
}

.about-col-1 img {
  width: 100%;
}

.about-col-2 {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-col-2 p {
  padding-right: 10rem;
  line-height: 1.6;
}

.sub-title {
  font-size: 6rem;
  font-weight: 600;
  color: #fff;
}

.about-col-2 p {
  margin-top: 4rem;
  font-size: medium;
}

.resume--button {
  margin-top: 6rem;
  align-self: flex-start;
  text-decoration: none;
}

.resume--div {
  align-self: flex-start;
  margin-top: 6rem;
}

.btn {
  border: none;
  display: block;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  outline: none;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  color: #fff;
  font-weight: 700;
  font-size: 15px;
  background-color: #222;
  padding: 17px 60px;
  margin: 0 auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.btn span {
  position: relative;
  z-index: 1;
}

.btn:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 490%;
  width: 140%;
  background: var(--secondary-color);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
  transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.btn:hover:after {
  -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/* Tools */

#tools {
  width: 100%;
  background-color: var(--primary-color);
  padding: 12rem 0;
  padding-bottom: 0;
}

.tools-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  margin-top: 5rem;
}

.tools-list h2 {
  color: var(--secondary-color);
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.tools-list div {
  background: #495057;
  padding: 4rem;
  font-size: 1.3rem;
  font-weight: 300;
  border-radius: 1rem;
  transition: background 0.5s, transform 0.5s;
}

.tools-list div:hover {
  background-color: #868e96;
  transform: translateY(-1rem);
}

.tools-list ion-icon {
  font-size: 5rem;
  margin-bottom: 2rem;
}

.tools-list ul {
  list-style: none;
  font-size: medium;
}

.tools-list li {
  margin-bottom: 0.9rem;
}

.tools-list li:last-child {
  margin-bottom: 0;
}

ion-icon {
  color: var(--secondary-color);
}

/* Projects */

#projects {
  width: 100%;
  background-color: var(--primary-color);
  padding: 10rem 0;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 4rem;
  margin-top: 5rem;
}

.project {
  border-radius: 1rem;
  position: relative;
  overflow: hidden;
}

.project img {
  width: 100%;
  border-radius: 1rem;
  display: block;
  transition: transform 0.5s;
  height: 40rem;
}

.project-techstack {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.project-tech {
  background-color: #495057;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}

.layer {
  width: 100%;
  height: 0%;
  background: linear-gradient(rgba(44, 52, 63, 0.6), var(--secondary-color));
  border-radius: 1rem;
  position: absolute;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 4rem;
  text-align: center;
  font-size: 1.4rem;
  transition: height 0.5s;
}

.layer a {
  cursor: pointer;
  margin-top: 2rem;
  text-decoration: none;
  font-size: 1.8rem;
  line-height: 6rem;
  background-color: white;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  text-align: center;
}

.layer h3 {
  font-weight: 500;
  margin-bottom: 2rem;
}

.layer ion-icon {
  cursor: pointer;
}

.project-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.layer p {
  margin-bottom: 2rem;
}

.project:hover img {
  transform: scale(1.1);
}

.project:hover .layer {
  height: 100%;
}

/* Contact */

#contact {
  padding-top: 10rem;
  width: 100%;
  background-color: var(--primary-color);
}

.contact-left {
  flex-basis: 35%;
}

.contact-right {
  flex-basis: 60%;
}

.contact-left p {
  margin-top: 3rem;
}

.contact-left p ion-icon {
  margin-right: 1.5rem;
  font-size: 2.5rem;
}

.social-icons {
  margin: 3rem 0;
}

.social-icons a {
  text-decoration: none;
  font-size: 3rem;
  margin-right: 1.5rem;
  display: inline-block;
  transition: transform 0.5s;
  cursor: pointer;
}

.social-icons ion-icon {
  color: #ababab;
}

.social-icons ion-icon:hover {
  color: var(--secondary-color);
}

.social-icons a:hover {
  transform: translateY(-5px);
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 1.4rem;
}

.contact-right form {
  width: 100%;
  position: relative;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background-color: #495057;
  padding: 1.5rem;
  margin: 1.5rem 0;
  color: #fff;
  font-size: 1.8rem;
  border-radius: 0.6rem;
}

.btn2 {
  padding: 1.4rem 6rem;
  font-size: 1.8rem;
  margin-top: 2rem;
  cursor: pointer;
}

.copyright {
  width: 100%;
  text-align: center;
  padding: 2.5rem 0;
  font-weight: 300;
  margin-top: 14rem;
  color: #767676;
}

.contact-button {
  transform: translate(-50%, -50%);
  padding: 1.6rem 3.2rem;
  background-color: var(--secondary-color);
  color: white;
  font-family: verdana;
  font-size: 1.5rem;
  border: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 1rem;
  display: block;
}

form .contact-button {
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.7rem 6rem;
  background-color: var(--secondary-color);
  color: white;
  font-family: verdana;
  font-size: 1.5rem;
  border: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 1rem;
}

.contact-button::before {
  position: absolute;
  content: "";
  top: 0;
  left: -110%;
  bottom: 0;
  width: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  transform: skewX(-30deg);
  transition: left 0.7s ease-in-out;
}

.contact-button:hover::before {
  left: 120%;
}

.cv--button {
  text-decoration: none;
}

.cv--div {
  display: flex;
}

.cv--div.btn {
  padding: 1.7rem 3rem;
}
